 @use 'style';
 
 /*관리자페이지*/
  .admin-page{
    width: 900px;
    height: 600px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: style.$white;
    border-radius: 50px;
    box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
  }
  
  table th{
    border: 1px solid style.$point-color;
    padding: 5px 10px;
    text-align: center;
  }
  table td{
    border: 1px solid style.$point-color;
    padding: 5px 10px;
  
  }