@use 'style';

@mixin for-center-line() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin flex-between(){
    display: flex;
    justify-content: space-between;
  }

//style.$white;


/*NAvigation*/
nav{
    width: 100%;
  .first-ul{
    width: 100%;
    @include flex-between();
        .navi-li{
            list-style: none;
            font-size: 1.3em;
            padding-right: 20px;
            cursor: pointer;
            @include for-center-line();
            img{
              margin-left: 20px;
            }
            a{
                text-decoration: none;
                color: #000;
                cursor: pointer;
            }
        }
    }
  
  .second-ul{
    display: none;
    position: relative;
  }
  
  .second-ul.active{
    display: block;
    position: absolute;
    transform: translate(20px , 80px);
    list-style: none;
    font-weight: 500;
    background-color: #fff;
    li{
      padding: 2px 20px 15px 20px; 
      border: 1px solid #bdbdbd;      
    }
    li:last-child{
      border-top: none;
    }
    li:hover{
      background-color: style.$wide-color;
    }
  }
  
  .id-box-btn{
    font-weight: 500;
    background-color: transparent;
    border-bottom: 1px solid style.$wide-color;
    border: none;
    font-size: 1em;
    letter-spacing: -1px;
    cursor: pointer;
  }
  
  .id-box-btn:last-child{
    padding-top: 15px;
  }

}

/*Piggy*/
.im-home{
    width: 100%;
    height: 100%;
    @include for-center-line;
    flex-direction: column;
    justify-content: flex-start;
  }
  .for-flex{
    display: flex;
    transition: 0.3s;
  }
  .im-piggyzone{
    @include for-center-line;
    margin-top: 30px;
    margin-left: 30px;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 500px;
    background-color: style.$white;
    border-radius: 50px; 
    box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
    transition: 0.3s;
  }
  
  /*pagination*/
  .paginationBttns{
    @include flex-between;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid style.$point-color;
    list-style: none;
    font-size: 1.2em;
    margin: 15px 0px;
    transition: 0.3s;

    a{ cursor: pointer; }

    a:hover{ color: style.$point-color; }
  }

  .previousBttn{
   color: style.$point-color;
   padding: 15px;
   cursor: pointer;
   font-weight: 600;
  }
  .nextBttn{
    color: style.$point-color;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
  }
  .activeBttn{
    color: style.$point-color;
  }

  
  
  /*piggyBoss*/
  .piggy-input{
    outline-color: style.$point-color;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid #5c5b5b;
  }
  
  .piggy-btn{
    width: 100%;
    padding: 13px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 10px;
    background-color: style.$point-color;
    color: style.$white;
    cursor: pointer;
    font-weight: 500;
  }
  .list-box{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .list-h3{
    padding-left: 7px;
    padding-bottom: 10px;
    letter-spacing: -1px;
    margin-right: 20px;
  }
  
  .piglist-btn{
    outline: none;
    width: 40px;
    height: 40px;
    background-color: style.$point-color;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }
  .pig-regdate{
    color: #5c5b5b;
  }
  .for-flex3{
    @include flex-between
  }
  
  
  /*piggys*/
  .im-piggyzone2{
    @include for-center-line;
    margin-top: 30px;
    margin-left: 30px;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 500px;
    background-color: style.$white;
    border-radius: 50px; 
    box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
    transition: 0.3s;
  }
  .pig-img{
    transition: 0.5s;
  }
  .pig-img:hover{
    transform: translateY(10px);
  }
  .pig-level{
    color: orangered;
  }
  
  /*수정모달*/
  .piggy-modal{
    position: absolute;
    width: 250px;
    height: 130px;
    background-color: style.$wide-color;
    border-radius: 20px;
    padding: 10px ;
    z-index: 100;
     label{
       padding-right: 2px;
     }
     form{
       display: flex;
        flex-direction: column;
     }

  }
  .pig-modal{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 15px;
    input{
      width: 70px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 40px;
    }
    button{
      width: 70px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 40px;
      margin-left: 10px;
    }
  }
  .modal-form{
    display: flex;
  }
  .modal-input-div{
    letter-spacing: -1px;
  }
  
  .modal-input{
    padding: 7px 2px 2px 7px;
    border: none;
    border-radius: 20px;
    margin: 5px;
  
  }
