@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

@mixin for-center-line() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between(){
  display: flex;
  justify-content: space-between;
}
@mixin bottom-right() {
  bottom: 1rem;
  right: 1rem;
  animation: toast-in-right .7s;
}
//@include flex-between

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$wide-color: #90b029;
$point-color: #2f0059;
//@include for-center-line
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  font-family: "Noto Sans KR", sans-serif;
  @include for-center-line;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  background-image: url("../images/smallpigWhite.png");
  background-repeat: repeat;
}
.user-box {
  @include for-center-line;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
}

.user-h2 {
  color: $point-color;
}
.user-form-box {
  height: 250px;
  text-align: center;
}

.user-input {
  border: none;
  outline: none;
  font-size: 1em;
  padding: 10px 0px 2px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid $point-color;
}

.for-flex2 {
  @include flex-between;
}
small{
  color: orangered;
  float: right;
}

.user-label {
  padding-top: 6px;
  margin-right: 7px;
}
.user-btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 0px;
  margin-bottom: 30px;
  border-radius: 50px;
  background-color: $point-color;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: -1px;
  box-shadow: 2px 3px 2px #6e5268;
  cursor: pointer;
}
.user-btn:hover {
  filter: brightness(1.6);
}

.find-pw-btn{
  border: none;
  outline: none;
  font-size: 1em;
  background-color: transparent;
  cursor: pointer;
}

.intro-box {
  @include for-center-line;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
  transition: 0.4s;
}

.speech-box{
  text-align: center;
}

.fairy{
  transition: 0.4s;
}
.fairy:hover{
  transform: scale(1.1);
}


/*NAvigation*/
nav{
  display: flex;
  width: 100%;
  background-color: $point-color;
}

.first-ul{
  width: 100%;
  @include flex-between;
}
.navi-li{
  list-style: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 10px 15px 10px;
  margin-right: 15px;
}

.navi-li a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.second-ul{
  display: none;
  position: relative;
}

.second-ul.active{
  display: block;
  position: absolute;
  right: 15px;
  list-style: none;
  color: #fff;
  font-weight: 500;
  background-color: $point-color;
  padding: 15px 20px 15px 20px; 
}
.id-box-btn{
  color: #fff;
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  letter-spacing: -1px;
  cursor: pointer;
}

.id-box-btn:last-child{
  padding-top: 15px;
}


/*Piggy*/
.im-home{
  width: 100%;
  height: 100%;
  @include for-center-line;
  flex-direction: column;
  justify-content: flex-start;
}
.for-flex{
  display: flex;
  transition: 0.3s;
}
.im-piggyzone{
  @include for-center-line;
  margin-top: 30px;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 50px; 
  box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
  transition: 0.3s;
}

/*pagination*/
.paginationBttns{
  @include flex-between;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $point-color;
  list-style: none;
  font-size: 1.2em;
  margin: 15px 0px;
  transition: 0.3s;
}
.previousBttn{
 color: $point-color;
 padding: 15px;
 cursor: pointer;
 font-weight: 600;
}
.nextBttn{
  color: $point-color;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
}
.paginationBttns a{
  cursor: pointer;
}
.activeBttn{
  color: $point-color;
}

.paginationBttns a:hover{
  color: $point-color;
}


/*piggyBoss*/
.piggy-input{
  outline-color: $point-color;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid #5c5b5b;
}

.piggy-btn{
  width: 100%;
  padding: 13px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 10px;
  background-color: $point-color;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}
.list-box{
  display: flex;
  flex-direction: column;
}
.list-h3{
  padding-left: 7px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.piglist-btn{
  outline: none;
  width: 33px;
  height: 33px;
  background-color: $point-color;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.piglist-btn:hover{
  background-color: $wide-color;
}
.pig-regdate{
  color: #5c5b5b;
}
.for-flex3{
  @include flex-between
}


/*piggys*/
.im-piggyzone2{
  @include for-center-line;
  margin-top: 30px;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 50px; 
  box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
  transition: 0.3s;
}
.pig-img{
  transition: 0.5s;
}
.pig-img:hover{
  transform: translateY(10px);
}
.pig-level{
  color: orangered;
}

/*수정모달*/
.piggy-modal{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 360px;
  height: 100px;
  background-color: $wide-color;
  border-radius: 20px;
  padding: 15px;
  z-index: 100;
   label{
     padding-right: 2px;
   }
}
.pig-modal{
  padding-top: 20px;
  padding-left: 15px;
}
.modal-form{
  display: flex;
}
.modal-input-div{
  letter-spacing: -1px;
}

.modal-input{
  padding: 7px 2px 2px 7px;
  border: none;
  border-radius: 20px;
  margin: 5px;

}

/*관리자페이지*/
.admin-page{
  width: 900px;
  height: 600px;
  background-color: #fff;
  @include for-center-line;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
}

table th{
  border: 1px solid #2f0059;
  padding: 5px 10px;
  text-align: center;
}
table td{
  border: 1px solid #2f0059;
  padding: 5px 10px;

}


/*토스트알람*/
.toast-container{
  @include bottom-right();
  position: absolute;
  font-size: 14px;
  position: fixed;
  z-index: 10;
}
.toast-notification{
  @include bottom-right();
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px #999;
  color: #000;
  opacity: 0.9;
  transition: .3s ease;
}

.toast-notification:hover{
  box-shadow: 0 0 12px #fff;
  opacity: 1;
}
.toast {
  height: 50px;
  width: 365px;
  color: #fff;
  padding: 20px 15px 10px 10px;
}
.toast-title{
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
  width: 300px;
  height: 18px;
}
.toast-description{
  margin: 0;
  text-align: left;
}
.toast-btn{
  float: right;
  background: none;
  border: none;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}


@include mobile {
  .App{
    background-image: none;
  }
  .for-flex {
    flex-direction: column-reverse;
  }
  .im-piggyzone{
    width: 330px;
  }
  .list-h3{
    padding-left: 13px;
  }
  .delete-btn{
    padding-right: 13px;
  }
  .paginationBttns{
    margin-left: 13px;
    width: 310px;
  }
  .pig-p{
    padding-left: 13px;
  }
  .fairy{
    display: none;
  }
  .intro-box{
    height: 100px;
  }

  .for-flex3{
    flex-direction: column;
  }
  .pig-mobile{
    text-align: right;
    padding-right: 15px;
  }
  .im-piggyzone2{
    width: 330px;
    height: 300px;
  }
  .pig-p{
    text-align: center;
  }
  .piggy-modal{
    width: 325px;
  }
}

@include tablet {
  .App{
    background-image: none;
  }
  .for-flex {
    flex-direction: column-reverse;
  }
  .fairy{
    display: none;
  }
  .intro-box{
        height: 100px;
  }
  .im-piggyzone2{
    height: 300px;
  }
  .pig-p{
    text-align: center;
  }

}
