@use 'style';

@mixin for-center-line() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@mixin flex-between(){
    display: flex;
    justify-content: space-around;
  }

 @mixin main-color(){
    background: rgb(250,177,2);
    background: linear-gradient(99deg, rgba(250,177,2,1) 0%, rgba(218,26,9,1) 100%);
  }
  
.user-h2 {
    color: style.$black;
    margin-bottom: 50px;
    font-family: "Noto Sans KR", sans-serif;
}

.user-form-box {
    height: fit-content;
    text-align: center;
    width: 330px;
    .user-input {
      border: none;
      outline: none;
      font-size: 1em;
      padding: 10px 0px 2px 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid style.$black;
    }
    .user-label {
      font-family: "Noto Sans KR", sans-serif;
      padding-top: 25px;
      margin-right: 7px;
      width: 90px;
    }
    .user-label2{
      padding-top: 5px;
      font-family: "Noto Sans KR", sans-serif;
    }
    .user-label3{
      padding-top: 5px;
      font-family: "Noto Sans KR", sans-serif;

    }

    span{
      letter-spacing: -1px;
      color: style.$black;
    }

}
  
  .for-flex2 {
    @include flex-between;
  }

  small{
    color: orangered;
    float: right;
  }
  
  .user-btn {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0px;
    margin-bottom: 30px;
    border-radius: 50px;
    @include main-color();
    color: style.$white;
    font-size: 1.2em;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    box-shadow: 2px 3px 2px #6e5268;
    cursor: pointer;
  }
  .user-btn:hover {
    filter: brightness(1.2);
  }

  .erase{
    display: none;
  }

  .find-pass-box{
    @include for-center-line;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: #bdbdbd8d;
    span{
      background-color: style.$white;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 330px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      cursor:pointer;
    }
    span:hover{
      @include main-color();
    }
    .find-pass-modal{
      
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: style.$white;
      padding: 30px;
      width: 330px;
      height: fit-content;
      }
      input{
        padding: 13px 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        outline: style.$point-color;
        border: 1px solid style.$black;
        border-radius: 20px;
      }
    }
  
.auth-box{
  @include for-center-line();
  flex-direction: column;
  width: 330px;
  a{
    text-decoration: none;
    color: style.$black;
    margin-top: 40px;
  }
  span{
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: style.$wide-color;
  }
  input{
    padding: 13px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    outline: style.$point-color;
    border: none;
    border-bottom: 1px solid style.$black;
  }
  p{
    letter-spacing: -1px;
    margin-bottom: 10px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
