@use 'style';

@mixin for-center-line() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-between(){
    display: flex;
    justify-content: space-between;
  }

.user-box {
    @include for-center-line;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 500px;
    background-color: style.$white;
    border-radius: 50px;
    box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
  }
  
  .user-h2 {
    color: style.$point-color;
  }
  .user-form-box {
    height: 250px;
    text-align: center;
  }
  
  .user-input {
    border: none;
    outline: none;
    font-size: 1em;
    padding: 10px 0px 2px 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid style.$point-color;
  }
  
  .for-flex2 {
    @include flex-between;
  }
  .onlyone-check-btn{
    border: none;
    border-radius: 20px;
    padding: 0px 10px;
    color: style.$white;
    background-color: style.$point-color;
    outline: none;
    cursor: pointer;
  }
  small{
    color: orangered;
    float: right;
  }
  
  .user-label {
    padding-top: 6px;
    margin-right: 7px;
  }
  .user-btn {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0px;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: style.$point-color;
    color: style.$white;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: -1px;
    box-shadow: 2px 3px 2px #6e5268;
    cursor: pointer;
  }
  .user-btn:hover {
    filter: brightness(1.6);
  }
  .certified-btn{
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: style.$point-color;
    color: style.$white;
    cursor: pointer;
  }
  .find-pw-btn{
    border: none;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
  }
  
  .intro-box {
    @include for-center-line;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 500px;
    background-color: style.$white;
    border-radius: 50px;
    box-shadow: inset 0px 0px 1px #5c5b5b, 3px 3px 3px #5c5b5b;
    transition: 0.4s;
  }
  
  .speech-box{
    text-align: center;
  }

  .erase{
    display: none;
  }