<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PiggyMapper">  
  <insert id="insertPiggy"> 
    INSERT INTO react.taeistory_piggy
    (
      useremail
      , food
      , country
      , foodExpenses
      , exchangedMoney
      , currencyCode
      , commentary
      , tripDate
      , reg_date
      , imageURL
      , id
    )
    VALUES (
    #{useremail}
      , #{food}
      , #{country}
      , #{foodExpense}
      , #{exchangedMoney}
      , #{currencyCode}
      , #{commentary}
      , #{tripDate}
      , DATE_FORMAT(now(), '%Y%m%d%H%i%s')
      , #{imageURL}
      ,#{id}
      )
  </insert>

  <select id="selectPiggy">
  SELECT
  *
  FROM react.taeistory_piggy
  WHERE useremail = #{is_Email}
  ORDER BY reg_date DESC

  </select>

  <delete id="deletePiggy">
    DELETE FROM react.taeistory_piggy
    WHERE id = #{is_id}
  </delete>

  <select id="piggyExpenses">
  select 
  IFNULL(sum(exchangedMoney),0) 
  as sum_of_exchangedMoney 
  from taeistory_piggy 
  where useremail=#{is_Email};

  </select>

  <update id="modifypiggy">
    update taeistory_piggy 
    SET 
    food = #{e_food}
    ,foodExpenses = #{e_foodExpense}
    ,exchangedMoney = #{e_exchangedMoney}
    ,tripDate = #{e_tripDate}
    ,country = #{e_country}
    ,currencyCode =#{e_currencyCode}
    ,commentary=#{e_commentary}
    ,imageURL=#{e_imageURL}
    where id = #{is_id};
  </update>

    <delete id="deleteAllPiggy">
    DELETE FROM react.taeistory_piggy
    WHERE useremail = #{is_Email}
  </delete>


  </mapper>